extends layout

block content
    h1= title
    form(name="translate", method="post")
        div.row
            div.col-md-6 
                span Pepino Lang (plain English)
                textarea(name="pepinoLang").form-control
                    | #{pepinoLang}
            div.col-md-6
                span CucumberJs
                pre= cucumberJs
        div.row
            br
            input(type="submit", value="Translate")
        div.footer
            br
            | For more information about the Pepino language, please visit <a href='https://github.com/AcklenAvenue/pepino-language'>https://github.com/AcklenAvenue/pepino-language</a>. 